@use "typografi" as *;
@forward "base";

// FARVEVARIABLER
$color-primary: #1b1a1c;

$color-secondary: #efc862;

$color-light-1: #fff;
$color-light-2: #fffcfc;

$color-grey-1: #a1a1a1;
$color-grey-2: #707070;

$baggrund-nav: rgba(255, 255, 255, 0.5);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
	font-family: $font-brod;
	color: $color-light-1;
	font-weight: 300;
	line-height: 1.6;
	background-image: linear-gradient(rgba(22, 22, 24, 1), rgba(49, 49, 50, 1));

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [sidebar-start] 8rem [sidebar-stop navigation-start] 5rem [navigation-slut header-start] 90vh [header-slut kap1-start] 1fr [kap1-slut kap2-start] 1fr [kap2-slut kap3-start] 1fr [kap3-slut kontakt-start] 1fr [kontakt-slut footer-start] 1fr [footer-slut];
}

/* @media screen and (min-width: 600px) {
	body {
		grid:
			"aside nav" 5em
			"aside    main  " 20em
			"main  main " 10em
			"footer footer" 5em /
			1fr 2fr;
	}
}

@media screen and (min-width: 800px) {
	body {
		grid:
			"header header header" 5em
			"nav    main   aside " 20em
			"footer footer footer" 5em /
			1fr 2fr 1fr;
	}
}

nav {
	grid-area: nav;
}
header {
	grid-area: header;
}
main {
	grid-area: main;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
} */
