.fire-hurtige {
	grid-column: indhold-start / indhold-slut;
	grid-row: 3/4;
	align-items: top;
	display: grid;
	grid-template-columns: 7rem 12rem repeat(4, 1fr) 6rem;
	border-left: 1px solid $color-grey-2;

	&__baggrund {
		grid-column: 3 / 7;

		display: grid;
		grid-template-columns: repeat(5, minmax(25rem, 1fr));
		justify-items: center;
		align-items: center;

		background-color: rgb(22, 22, 22);
		padding: 2rem;
		margin-top: 2rem;
	}

	&__info-1 {
		grid-column: 1/2;
	}

	&__info-2 {
		grid-column: 2/3;
	}

	&__info-3 {
		grid-column: 3/4;
	}

	&__info-4 {
		grid-column: 4/5;
	}
	&__info-5 {
		grid-column: 5/6;
	}

	&__title {
		font-family: $font-alternativ;
		font-size: 1.7rem;
		color: $color-light-2;
	}

	&__forfatter {
		font-family: $font-alternativ;
		font-size: 1.7rem;
		color: $color-grey-1;
	}
}
