.header {
	grid-column: indhold-start / indhold-slut;
	grid-row: 1/2;

	display: grid;
	grid-template-columns: 6rem repeat(4, 1fr);
	grid-template-rows: 6rem 4rem 1fr;
	align-items: end;

	background-color: #000;
	background-image: url(../img/header-baggrund.jpg);
	background-size: cover;
	background-position: center;

	&__nav {
		backdrop-filter: blur(1rem);
		background-color: rgba(255, 255, 255, 0.5);
		height: 7rem;
		text-align: center;
		position: fixed;
		z-index: 2;
		width: 100%;

		display: grid;
		grid-template-columns: 7rem repeat(3, 1fr) 3rem;
	}

	&__list {
		grid-column: 4 / span 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 3rem;

		list-style: none;
	}

	&__links::hover {
		color: blue;
	}
	&__link:link,
	&__link:visited {
		font-family: $font-rubrik;
		text-decoration: none;
		font-size: 1.7rem;
		color: $color-light-1;
	}
	&__underrubrik {
		grid-row: 4/5;
		grid-column: 2/-1;
		font-family: "Gothic A1", sans-serif;
		font-size: 4.5rem;
		color: #fffcff;
	}
	.btn-secondary {
		grid-row: 5/5;
		grid-column: 2/3;

		width: 24rem;
		height: 7rem;

		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		border-radius: 1rem;
		transition: all 0.2s;
		position: relative;
		font-size: 1.6rem;
		border: none;
		cursor: pointer;
		margin-bottom: 2rem;
	}
}

.heading-1 {
	grid-row: 3/4;
	grid-column: 2/-1;
	justify-self: start;
}
