@use "typografi" as *;
@use "base" as *;
.sidebar {
	grid-row: sidebar-start/sidebar-stop;

	padding-left: 2rem;
	background-color: #646464;

	&__logotype {
		font-family: $font-rubrik;
		font-size: 4.8rem;
		text-align: center;
	}
	&__logos {
		display: none;
	}
}
