$font-rubrik: Basic, sans-serif;
$font-mellemrubrik: Gothic A1, sans-serif;
$font-brod: Poppins, sans-serif;


$color-primary: #161618;
$color-secondary: #efc862;

$color-light: #f4f4f4;
$color-dark: #000;