@use "../abstracts/index" as *;

%btn {
	display: inline-block;
	border-radius: 0.5rem;
	padding: 0.8rem 2rem;
	margin: 3px;

	&:hover {
		transform: scale(0.95);
	}
}

.btn-primary {
	@extend %btn !optional;
	@include set-background(lighten($color-primary, 20%));
}

.btn-secondary {
	@extend %btn !optional;
	@include set-background($color-secondary);
}
