@use "../abstracts/index" as *;

form {
	max-width: 80vw;
	text-align: center;
	margin: 3rem auto;

	input,
	textarea {
		border: 0;
		outline: 0;
		padding: 1em;
		font-family: $font-brod;
		border-radius: 8px;
		display: block;
		width: 100%;
		height: 5.3rem;
		margin-top: 1em;
		box-shadow: 0 1px 1px rgba(black, 0.1);
		resize: none;

		&:focus {
			box-shadow: 0 0px 2px rgba($color-secondary, 1);
		}
	}

	#input-submit {
		color: $color-dark;
		font-size: 2rem;
		padding: 1rem 4rem;
		background: $color-secondary;
		cursor: pointer;

		&:hover {
			box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
		}
	}

	textarea {
		height: 12rem;
	}
}

.half {
	float: left;
	width: 48%;
	height: 48%;
	margin-bottom: 1em;

	@include respond(phone) {
		width: 100%;
		float: none;
		margin-bottom: 0;
	}
}

.right {
	width: 50%;
	@include respond(phone) {
		width: 100%;
		float: none;
		margin-bottom: 0;
	}
}

.left {
	margin-right: 2%;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}
