@use "../abstracts/index" as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This is 1rem
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62,5%

	@include respond(tab-land) {
		//1rem = 9px; 9/16 =
		font-size: 56.25%;
	}
	@include respond(tab-port) {
		//1rem = 8px; 8/16 =
		font-size: 50%;
	}
	@include respond(phone) {
		//1rem = 6px; 6/16 =
		font-size: 37.5%;
	}
	@include respond(big-desk) {
		//1rem = 12px; 12/16 =
		font-size: 75%;
	}
}
body {
	background-image: linear-gradient(134.39deg, #161618 23.19%, #313132 84.29%);
	font-family: $font-brod;
	box-sizing: border-box;
	color: $color-light;
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
}

a {
	text-decoration: none;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
