$color-primary: #161618;
$color-secondary: #efc862;
$color-primary-light:#979799;
$color-secondary-light: #f5e6bf;

$color-light: #f4f4f4;
$color-dark: #000000;

$color-grey-dark: #161618;
$color-grey-light: #e5e5e5;

$accent-color: #355cc9;
