@use "../abstracts/index" as *;

.showcase {
	@include set-background($color-primary);
	height: 90vh;
	background-image: url(../img/the-average-tech-guy-0D4vVgznTKE-unsplash.jpg);
	background-size: cover;
	background-position: top;

	/* 	.navigation{
		position: fixed;
	} */

	.logo {
		font-family: $font-rubrik;
		font-size: 5rem;
		color: #fff;
	}

	&-content {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: left;
		padding-top: 35rem;

		h1 {
			font-family: $font-rubrik;
			font-size: 9rem;
			line-height: 1;
		}

		.rubrik-lille{
			font-family: $font-rubrik;
			font-size: 6rem;
		}

		.underrubrik {
			font-family: $font-mellemrubrik;
			font-size: 4rem;
			line-height: 1.6;
		}

		a:hover {
			color: $color-light;
		}
		a:active {
			text-decoration: none;
		}
	}
}
