@use "../abstracts/index" as *;

.header {
	background: transparent;
	backdrop-filter: blur(0.8rem);
	position: fixed;
	width: 100%;
	z-index: 3;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}

	li a {
		
		padding: 20px 20px;
		text-decoration: none;
		color: $color-light;
		font-size: 1.7rem;
		float: left;

		span {
			@include nummer;
		}

		@include respond(phone) {
			display: block;
			font-size: 2.3rem;
			line-height: 1.5;
		}
	}
	li a:hover,
	.header .menu-btn:hover {
		color: $color-secondary;
		text-decoration: underline;
	}

	.logo {
		display: block;
		float: left;
		font-family: $font-rubrik;
		font-size: 5rem;
		color: #fff;
		padding-left: 5rem;

		@include respond(phone) {
			font-size: 4rem;
			padding-left: 2rem;
		}
	}

	.menu {
		display: flex;
		clear: none;
		float: right;
		max-height: none;

		@include respond(phone) {
			display:block;
			clear: both;
			max-height: 0;
			transition: max-height 0.2s ease-out;
		}
	}

	.menu-icon {
		display: none;
		@include respond(phone) {
			cursor: pointer;
			float: right;
			padding: 28px 20px;
			position: relative;
			user-select: none;
			display: block;
		}

		.nav-icon {
			background: $color-light;
			display: block;
			height: 2px;
			position: relative;
			transition: background 0.2s ease-out;
			width: 18px;

			&:before,
			&:after {
				background: $color-light;
				content: "";
				display: block;
				height: 100%;
				position: absolute;
				transition: all 0.2s ease-out;
				width: 100%;
			}
			&:before {
				top: 5px;
			}
			&:after {
				top: -5px;
			}
		}
	}
	.menu-btn {
		display: none;
	}
	.menu-btn:checked ~ .menu {
		max-height: 240px;
	}
	.menu-btn:checked ~ .menu-icon .nav-icon {
		background: transparent;
	}
	.menu-btn:checked ~ .menu-icon .nav-icon:before {
		transform: rotate(-45deg);
		top: 0;
	}
	.menu-btn:checked ~ .menu-icon .nav-icon:after {
		transform: rotate(45deg);
		top: 0;
	}
}
